.site-content
  %section.home-callout.home-section
    .title
      != Oga.parse_html(custom_view("#{documentation_path}/topics/introduction.md")).at_xpath("//p").text

      %a.learn-more(href="/topics/introduction") Learn more →

  .home-intro.home-section

    %section
      %h2 一键试用

      %p
        想免费试用最新的Redis5.0？ 使用
        %a(href="https://console.huaweicloud.com/dcs/?locale=zh-cn&region=cn-north-1#/dcs/webcliAction?action=freeCreateDCS2?from=redisedu")华为云WebCli（Web版本Redis Client）
        ，免去繁琐的配置，在网页便捷操作。

    %section
      %h2 免费下载

      %p
        %a(href="http://download.redis.io/releases/redis-#{STABLE_VERSION}.tar.gz") Redis #{STABLE_VERSION} 是最新的稳定版本。
        想了解其他版本？
        %a(href="/download") 请点击Redis下载页面。

    %section
      %h2 最新信息
      %p
        可以从 <a href="http://twitter.com/redisfeed">Twitter</a> 和
        <a href="http://github.com/antirez/redis">GitHub</a> 中了解到Redis的最新信息。
        也可以通过订阅 <a href="https://groups.google.com/forum/?fromgroups#!forum/redis-db">邮件列表</a>获取相关求助信息。

  .home-buzz.home-section
    %section#buzz(data-limit="5")
      %h2 Redis 最新资讯

      %ul

      %a(href="/buzz") 更多...
