!!! 5

%html
  %head
    %meta(charset="utf-8")
    %title= [@title, "Redis"].compact.join(" – ")
    %link(rel="stylesheet" href="/styles.css")
    %link(rel="shortcut icon" href="/images/favicon.png")
    %link(rel="search" type="application/opensearchdescription+xml" title="Look up a Redis command" href="/opensearch.xml")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    :javascript
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-20243082-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

  %body(class="#{@css.join(" ") if @css}")
    .mobile-menu.slideout-menu
      %header.menu-header

      %section.menu-section
        %ul.menu-section-list
          %li
            %a.home(href="/") 主页
          %li
            %a(href="/commands") 命令
          %li
            %a(href="/clients") 客户端
          %li
            %a(href="/documentation") 文档
          %li
            %a(href="/community") 社区
          %li
            %a(href="/download") 下载
          %li
            %a(href="/modules") 模块
          %li
            %a(href="/support") 支持

    .site-wrapper

      %header.site-header
        %nav.container
          .mobile-header
            %button.btn-hamburger.js-slideout-toggle
              %span.fa.fa-bars

            %a.home(href="/")
              %img(src="/images/redis-white.png" alt="Redis")

          .desktop-header
            %a.home(href="/")
              %img(src="/images/redis-white.png" alt="Redis")
            %a(href="/commands") 命令
            %a(href="/clients") 客户端
            %a(href="/documentation") 文档
            %a(href="/community") 社区
            %a(href="/download") 下载
            %a(href="/modules") 模块
            %a(href="/support") 支持

      - if Date.today < Date.new(2019, 1, 31)
        %aside.wide-callout
          .container
            RedisConf 2019 <a href="https://myeventi.events/redisconf19/cfp/">call for papers</a> is open.

      = content

      %footer.site-footer
        .container
          %p
            这个网站是
            <a href="https://github.com/huangjingkai/redis-io">开源的</a>，感谢支持。

          .sponsor
            赞助商
            %a(href="https://www.huaweicloud.com/product/dcs.html")
              %img(src="/images/huaweiyun.png" alt="华为云Redis" title="免费获取一个Redis实例" )

    %script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    %script(src="/app.js?#{File.mtime("public/app.js").to_i}")
